{template "content", "header"}
    {pc:content action="lists" catid="$catid" moreinfo="1" return="data"}
        <div class="container">
            <h3>{$data[$_GET[id]][keywords]}</h3>
            <p>发布时间: {date('Y-m-d', $data[$_GET[id]][updatetime])}</p>
            <hr class="layui-bg-blue">
            <p class="show_content">
                {$data[$_GET[id]][content]}
            </p>
        </div>
<?php $getId = $_GET['id']; ?>
        <div class="container">
            <hr class="layui-bg-blue">
        </div>
    <p style="text-align:center;">
        <a href="{$previous_page[url]}">上一篇: {$previous_page[title]}</a><a href="{$next_page[url]}">下一篇：{$next_page[title]}</a>
    </p>
{/pc}
{template "content", "footer"}